.ygm-divider {
  --border-width: 1px;
  --border-padding: var(--ygm-padding-l) 0;
  --text-color: var(--ygm-color-weak);
  --border-color: var(--ygm-color-border);
  display: flex;
  align-items: center;
  border-color: var(--border-color);
  color: var(--text-color);
  font-size: var(--ygm-font-size-m);
  border-style: solid;
  line-height: 24px;
  margin: var(--border-padding);
}
.ygm-divider::before,
.ygm-divider::after {
  content: '';
  display: block;
  flex: 1;
  box-sizing: border-box;
  height: 1px;
  border-color: inherit;
  border-style: inherit;
  border-width: var(--border-width) 0 0 0;
}
.ygm-divider-hairline::before,
.ygm-divider-hairline::after {
  transform: scaleY(0.5);
}
.ygm-divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  vertical-align: middle;
  border-top: 0;
  margin: 0;
  margin: 0 16px;
  border-left-width: var(--border-width);
}
.ygm-divider-vertical::before,
.ygm-divider-vertical::after {
  content: none !important;
}
.ygm-divider-dashed {
  border-style: dashed;
}
.ygm-divider-content {
  padding: 0 var(--ygm-padding-l);
}
.ygm-divider-left::before {
  max-width: 10%;
}
.ygm-divider-right::after {
  max-width: 10%;
}
